*{  /* el * es que incluye todo, se va aplicar el mismo formato a todo*/
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    } 

     
    body{ 
     font-family: arial, helvetica, sans-serif; 
     color: #fff; 
    } 
    
    .main-image{ 
    background: url("imagenes/bosque.jpg"); 
    background-position: center bottom; 
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100%; 
    min-height: 100vh;     /*unidad de medida relativa, representa la altura total del navegador. propiedad CSS min-height: 100vh; establece la altura mínima de un elemento en relación con la altura visible del navegador o viewport. En este caso, vh es una unidad de medida relativa que representa el porcentaje de la altura total de la ventana del navegador. El valor 100vh significa que el elemento tendrá una altura mínima igual al 100% de la altura visible del navegador*/
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0 1rem;    /*0 es el espacio o relleno en la parte superior e inferior del elemento y el 1 rem es  valor del relleno de los lados. padding se utiliza para establecer el espacio de relleno alrededor del contenido de un elemento. En el caso del código proporcionado, padding: 0 1rem; establece un relleno de 0 en la parte superior e inferior del elemento y un relleno de 1rem en los lados izquierdo y derecho. 
    La sintaxis 0 1rem se refiere al valor del relleno en sentido de las agujas del reloj, comenzando desde la parte superior y continuando en sentido horario. En este caso, se establece un relleno de 0 en la parte superior e inferior, y un relleno de 1rem en los lados izquierdo y derecho. 
    El valor 1rem indica que se está utilizando una unidad de medida relativa. En este caso, rem (root em) se basa en el tamaño de fuente establecido en el elemento raíz o en el elemento HTML. Por ejemplo, si el tamaño de fuente del elemento raíz es de 16 píxeles, entonces 1rem será igual a 16 píxeles*/
    text-align: center; 
    } 
     
    .main-image h1{ 
    font-size: 4rem; 
    margin-bottom: 1rem;  
    } 

    .main-image h1 .strike{     /*strike para tachar*/
    text-decoration: line-through; 
    } 
    
    .main-image p{ 
    font-size: 1.5rem; 
    margin-bottom: 3rem; 
    } 
    
    .main-image .btn{ 
    background: none; 
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 3px; 
    padding: 1rem 2rem; 
    font-size: 1rem; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    } 